gh-digest/workflow.json
{
  "name": "GitHub Activity Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/users/psandis/repos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "List All Repos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const repos = $input.all().map(i => i.json.name);\nconst since = new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString();\nconst results = { commits: [], pullRequests: [], issues: [] };\n\nfor (const repo of repos) {\n  try {\n    const commitsResp = await this.helpers.httpRequestWithAuthentication.call(this, 'httpHeaderAuth', {\n      method: 'GET',\n      url: `https://api.github.com/repos/psandis/${repo}/commits?since=${since}`,\n      headers: { 'Accept': 'application/vnd.github.v3+json' },\n      json: true\n    });\n    if (Array.isArray(commitsResp)) {\n      for (const c of commitsResp) {\n        results.commits.push({\n          repo,\n          sha: c.sha?.substring(0, 7),\n          message: c.commit?.message,\n          author: c.commit?.author?.name,\n          date: c.commit?.author?.date,\n          url: c.html_url\n        });\n      }\n    }\n  } catch (e) {}\n\n  try {\n    const prsResp = await this.helpers.httpRequestWithAuthentication.call(this, 'httpHeaderAuth', {\n      method: 'GET',\n      url: `https://api.github.com/repos/psandis/${repo}/pulls?state=all&sort=updated&direction=desc`,\n      headers: { 'Accept': 'application/vnd.github.v3+json' },\n      json: true\n    });\n    if (Array.isArray(prsResp)) {\n      for (const pr of prsResp) {\n        if (new Date(pr.updated_at) >= new Date(since)) {\n          results.pullRequests.push({\n            repo,\n            number: pr.number,\n            title: pr.title,\n            state: pr.merged_at ? 'merged' : pr.state,\n            author: pr.user?.login,\n            url: pr.html_url\n          });\n        }\n      }\n    }\n  } catch (e) {}\n\n  try {\n    const issuesResp = await this.helpers.httpRequestWithAuthentication.call(this, 'httpHeaderAuth', {\n      method: 'GET',\n      url: `https://api.github.com/repos/psandis/${repo}/issues?state=all&sort=updated&direction=desc&since=${since}`,\n      headers: { 'Accept': 'application/vnd.github.v3+json' },\n      json: true\n    });\n    if (Array.isArray(issuesResp)) {\n      for (const issue of issuesResp) {\n        if (!issue.pull_request) {\n          results.issues.push({\n            repo,\n            number: issue.number,\n            title: issue.title,\n            state: issue.state,\n            labels: issue.labels?.map(l => l.name) || [],\n            url: issue.html_url\n          });\n        }\n      }\n    }\n  } catch (e) {}\n}\n\nresults.dateLabel = new Date().toISOString().split('T')[0];\nresults.generatedAt = new Date().toISOString();\n\nreturn [{ json: results }];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Fetch All Activity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 4096,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a technical assistant that creates clean daily digest reports.\\n\\nBelow is the GitHub activity data from the last 24 hours across all repositories under the `psandis` account.\\n\\n**Commits:**\\n{{ JSON.stringify($json.commits) }}\\n\\n**Pull Requests:**\\n{{ JSON.stringify($json.pullRequests) }}\\n\\n**Issues:**\\n{{ JSON.stringify($json.issues) }}\\n\\nPlease create a well-structured Markdown daily digest with the following format:\\n\\n# GitHub Activity Digest - {{ $json.dateLabel }}\\n\\nOrganize the content by repository, then by activity type (Commits, Pull Requests, Issues). For each item include:\\n- For commits: short SHA, author, commit message, and link\\n- For PRs: number, title, state (open/closed/merged), author, and link\\n- For issues: number, title, state, labels, and link\\n\\nIf there is no activity in a category, note 'No activity' for that section. Add a brief summary at the top highlighting the most notable changes. Only output the markdown content, nothing else.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Claude Summarize Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 0],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst markdown = response.content[0].text;\n\nconst buffer = Buffer.from(markdown, 'utf-8');\nconst binaryData = await this.helpers.prepareBinaryData(buffer, 'digest.md', 'text/markdown');\n\nreturn [{ json: { markdown }, binary: { data: binaryData } }];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Prepare File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0]
    },
    {
      "parameters": {
        "fileName": "=/home/node/output/digests/digest-{{ $now.format('yyyy-MM-dd') }}.md",
        "dataPropertyName": "data"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Save Digest File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1200, 0]
    }
  ],
  "connections": {
    "Daily 8AM Trigger": {
      "main": [
        [
          {
            "node": "List All Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Repos": {
      "main": [
        [
          {
            "node": "Fetch All Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Activity": {
      "main": [
        [
          {
            "node": "Claude Summarize Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Summarize Digest": {
      "main": [
        [
          {
            "node": "Prepare File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare File": {
      "main": [
        [
          {
            "node": "Save Digest File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "pinData": {}
}
